
/*  General Styling
/*-----------------------------------------------------------------------------------*/

body {
  background: #ffffff;
  color: #ffffff;
  font-family: 'Poppins', helvetica;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 1%;
  margin: 0 auto;
  padding: 0;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  color: #292929;
  font-weight: 600;
}

h4 {
  color: #292929;
  font-size: 14px;
  font-weight: 600;
}

a {
  color: #292929;
  text-decoration: none !important;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

a:hover {
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

a:hover, a:focus {
  color: #BA63CF;
  text-decoration: underline;
}

nav ul li a {
  padding: 2px 0 0 0;
  position: relative;
  display: block;
  font-size: 12px;
  color: #999999;
  letter-spacing: 0.1em;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

p {
  margin: 0 0;
  padding: 0;
  font-size: 15px;
  color: #ffffff;
  line-height: 28px;
}

::-moz-selection {
  background: #b8a07e;
  color: #fff;
}

::selection {
  background: #b8a07e;
  color: #fff;
}
.section-title {
  margin-bottom: 5%;
}

.section-title h2 {
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.paddsection {
  padding-top: 5%;
  padding-bottom: 2%;
}

.paddsections {
  padding-top: 5%;
  padding-bottom: 5% !important;
}

.mb-30 {
  margin: 2%;
  padding-top: 2%;
  text-align: center;
}

.walk {
    color:black;
    position: relative;
    text-align: center;
    margin: 5%;
    padding-top: -4%;
}

.ur{
    font-weight: 600;
    color: #BA63CF;
}
/*-----------------------------------------------------------------------------------*/
/*  Navbar Top
/*-----------------------------------------------------------------------------------*/

nav {
  position: fixed;
  background: #4A0D66;
  z-index: 1000;
  width: 100%;
  padding: 2%;
  display: none;
  -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
}

.nav-menu {
  line-height: 32px;
  margin-bottom: 0;    
}

nav ul li {
  float: right;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin-left: 5%;
    
}

nav ul li a {
  position: relative;
  display: block;
  font-size: 14px;
  color: #ffffff;
  font-family: 'Poppins', helvetica;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.responsive {
  display: none;
  font-size: 23px;
}


/*----------------------------------------------------------------------------------*/
/*  Header
/*-----------------------------------------------------------------------------------*/

#header {
  background: black;
  height: 100vh;
  width: 100%;
}

.home {
    max-width: 100%;
}
#myVideo {
    position: 
    left: 0;
    bottom: 0;
    min-width: 700px;
    min-height:727px;
   
}


#header .header-content {
  height: 100vh;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  vertical-align: middle;
  min-width: 700px;
}

.header-content h1 {
    position: relative;
    bottom: 130%;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}



/*-----------------------------------------------------------------------------------*/
/*  Aout-us
/*-----------------------------------------------------------------------------------*/

#about {
  position: relative;
  background: #BA63CF;
  min-width: 700px;
  min-height: 100%;
}

.about-descr {
  position: relative;
  font-size: 28px;
  min-width: 100%;
  padding: 3%;
}

.intro {
    position: relative;
    text-align: center;

}

/*-----------------------------------------------------------------------------------*/

/*  Join Team
/*-----------------------------------------------------------------------------------*/

#portfolio {
  background-color: #ffffff;
  max-height: 100%;
  min-width: 700px;
}

#join {
    max-height: 100%;
    max-width: 80%; 
}

.btn_j {
    border: 2px solid #BA63CF;
    padding: 20px 30px;
    
}
.buttons {
    margin-bottom: 4%
}
.buttons a{
    position: relative;
    top: 70px;
    text-align: center;
    margin: 2%;
}
.btn_j:hover, .btn_j:focus {
  color: #BA63CF;
  background-color: #FCA400;
  border: #FCA400;
}

.btn_d {
    border: 2px solid #FCA400;
    padding: 20px 35px;
}

.btn_d:hover, .btn_d:focus {
  color: #FCA400;
  background-color: #BA63CF;
  border: #BA63CF;
}
/*-----------------------------------------------------------------------------------*/

/*  Contact
/*-----------------------------------------------------------------------------------*/

#contact {
  height: auto;
  min-width: 700px;
  width: 100%;
  margin-top: -6%;
  padding-top: 12%;
  margin-bottom: -4%;
  background-color: #ffffff;
}


/*-----------------------------------------------------------------------------------*/
/*  Footer
/*-----------------------------------------------------------------------------------*/

#footer {
  background: #FCA400;
  padding: 4%;
  min-width: 700px;
  
}

#footer p {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin-top: 0;
  text-transform: uppercase;
}

.credits {
  font-size: 13px;
}

#purple {
    color: purple;
}
